.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  min-height: 100vh;
  margin: 2rem;
}
.empty-wishlist-container {
  min-height: 100vh;
  text-align: center;
}
.wishlist-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (width<=1024px) {
  .wishlist-container {
    justify-content: center;
  }
}
