ul {
  list-style-type: none;
}
.nav__logo {
  cursor: pointer;
}
.nav-container {
  background-color: black;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
.nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.nav > a {
  color: white;
}
.nav__search-container {
  display: flex;
}
.nav__search-container > input {
  background-color: var(--background-color);
  border: 1px solid grey;
  border-right: none;
  padding: 8px 20px;
  width: 20rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.nav__search-container > input:focus {
  outline: none;
}
.nav__search-container > button {
  border: 1px solid grey;
  text-align: center;
  padding: 8px 20px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  background-color: var(--background-color);
}
.nav__search-container > button:hover {
  background-color: var(--hover-background-color);
}

.nav-links {
  display: flex;
}

.nav-links a {
  display: inline-block;
  margin-right: 1rem;
  min-width: 22%;
  text-align: end;
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  font-weight: bold;
  transform: scale(1.08);
  transition-duration: 0.1s;
}

/* Styles for mobile (portrait) and below */
@media screen and (width<= 768px) {
  body {
    font-size: 14px;
  }
  .nav__search-container {
    display: none;
  }
  .product-category-container {
    grid-template-columns: 1fr;
  }
}

/* Styles for tab (portrait) and up */
@media screen and (width<= 1024px) {
  body {
    font-size: 16px;
  }

  .nav__search-container {
    display: none;
  }
  .product-category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styles for Laptop and up */
@media screen and (width>= 1024px) {
  body {
    font-size: 18px;
  }

  .product-category-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
